/******************************************************************** BASIC */
h1 {font-size: 2.5em; margin-top: .5em; line-height: 1.25; margin-bottom: .25em; word-wrap: break-word; font-weight: 600;}
h2 {font-size: 1.75em; font-weight: 600;}
h3 {font-size: 1.5em; font-weight: 600;}
h4 {font-size: 1.25em; font-weight: 600;}

/******************************************************************** HEADER */
.header-bar {background-color: #1e7da1;}

/******************************************************************** FOOTER */
.footer {background-color: #333;}
.footer a {color: #eee;}
.footer a:hover {color: #62d5ff;}
.footer-title {font-weight: 600; font-size: 1.15em;}
.footer-text-1 {font-size: 14px;}
.footer-link-list {font-size: 14px; list-style-image: none;}
.footer-subfooter {color: #ddd; font-size: 13px;}


/******************************************************************** OTHER */
.claim {font-size: 1.25em; line-height: 1.5;}
.intro-pros {margin-top: 2em !important;}
.logo-img {max-width: 120px;}
.banner {padding: 5em 0; padding-bottom: 10em; color: white; height: 800px;}
.product-preview {margin-top: 5em;}
.btn-cta { background-color: #1e7da1; color: white; }
.btn-cta:hover {background-color: hsl(196, 69%, 47%);}
.skewed-out {perspective-origin: left center; perspective: 1500px; min-height: 300px; transform-style: preserve-3d;}
.skewed { transform: rotateY(-35deg) rotateX(15deg); }



/* TODO: not always */
/*
ul {list-style-image: url("../img/checkmark.png"); list-style-position: inside; }
ul li {margin-bottom: .25em;}
/* ----- */
ul.browser-default {padding:0; list-style-image: none; list-style-type: square; list-style-position: inside;}
ul li.browser-default {margin-bottom: .25em;}


.tbl-calc {font-size: .9em;}
.tbl-calc td {padding: 7.5px 2.5px; }
.tbl-calc td:nth-child(2) { text-align: right; }

.intro-bg { background: url('./../img/bgdark.jpg') no-repeat center center fixed #1e2126; 
  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow-x: hidden;
}

.article-image img { width:100%; max-height: 300px; object-fit: cover; }

.call-to-action h4 {font-size: 1.25em;}
.call-to-action a {margin-bottom: 2em; min-width: 230px;}

.share-social a {margin-right: 1em;}
.share-social a:last-of-type {margin-right: 0;}

/******************************************************************** RESPONSIVE */
/* Big Screens => Standard */
@media only screen and (max-width : 992px) { }
/* Small Screens */
@media only screen and (max-width : 600px) {
  h1 {margin: 0; margin-top: .5em; font-size: 2.75em;}
  .banner {padding: 0;}
  .product-preview {margin-top: 1em;}
}
/* Print */
@media print {
  body {font-size: 10pt;}
  h1 {font-size: 35pt;}
  .app-function h3 {font-size: 15pt; line-height: 1.25;}
  .no-print, .no-print * { display: none !important; }
  .intro-bg, .banner {background: #fff; color: black; overflow-x:initial; }
  .skewed {transform: none;}
  .product-preview {margin: 0;}
  .responsive-img {max-height: 220pt;}
  .claim {margin-bottom: 2em;}
  .skewed-out { display: block; perspective-origin: none; perspective:none; transform-style: unset; margin: 0; }
  .print-page {page-break-after: always;}
}