div.app-function.section.print-page
  div.container
    div.row
      div.col.s12
        h3.section Mehr Umsatz mit optimalen Fahrzeug-Import
      div.col.s12.m12.l6
        div(style="margin:1.5em;")
          img.responsive-img.materialboxed.z-depth-1(src="https://cartrade.wuda.io/img/app/nova.png" alt="Screenshot von CarTrade mit NoVA-Berechnung")
      div.col.s12.m12.l6
        h4 Einfach Importieren mit eingebautem NoVA-Rechner
        p Mit dem integrierten NoVA-Rechner ist es ein kinderspiel Autos zu importieren. Die NoVA wird einfach auf Basis des Verkaufspreises an den End-Kunden weiter verrechnet.
        h4 Schnelle Zulassungsüberprüfung via FIN mit nur 1-Klick
        p Nach dem Import ist es wichtig zu wissen ob die NoVA bereits abgeführt wurde und das Fahrzeug in Österreich zugelassen werden kann. Mit der integrierten Zulassungsüberprüfung spart man sich den Anruf und die mühsame Warteschleife. Mit 1-Klick lässt sich checken ob das Auto zur Zulassung freigegeben ist.
        h4 Geeignet für Import mit Differenzbesteuerung
        p Normverbrauchsabgabe und Import von Privat-Person? Da wird es sehr schnell kompliziert und mühsam. Mit Wuda CarTrade ist die Differenzbesteuerung genau so einfach wie der normale Import vom Händler.
        h4 NoVA auf Dokumenten gesetzeskonform ausweisen
        p Die NoVA wird selbstverständlich auf allen erstellten Dokumenten ausgewiesen sowie auch alle anderen Steuern.
    form.center-align.no-print
      a.btn-flat.btn-large.btn-cta(href="https://account.wuda.io/register.php" style="margin-bottom: .25em; min-width: 230px;" target="_blank" title="Hier klicken um mehr zu erfahren") Kostenlos ausprobieren
