div.app-function.section.print-page.grey.lighten-4
  div.container
    div.row
      div.col.s12
        h3.section Komfort, Benutzerfreundlichkeit und Sicherheit
      div.col.s12.m12.l6
        div(style="margin:1.5em;")
          img.responsive-img.materialboxed.z-depth-1(src="https://cartrade.wuda.io/img/app/nebenkosten.png" alt="Screenshot von CarTrade Nebenkosten")
      div.col.s12.m12.l6
        h4 24/7 Verfügbar für PC, Tablet und Smartphone
        p Durch die hohe Verfügbarkeit sorgen wir für einen sicheren Betrieb zu jeder Zeit. Sollte Ihr Rechner oder ihre Festplatte kaputt werden, können Sie einfach ein anderes Gerät verwenden.
        h4 Immer auf dem neuesten Stand dank kostenloser Updates
        p Bei Änderungen der Gesetzeslage, wie Beispielsweise die Anpassung der Umsatzsteuer oder NoVA Regelung, werden Updates automatisch eingespielt und sie sind immer auf dem neuesten Stand.
        h4 Hohe Sicherheit durch automatische Backups
        p Mit wenigen Klicks können sie entweder alle Daten oder einzelne Datenbestände Ihres Systems sichern. Mit CarTrade, der professionellen Autohandel-Software, können Sie Ihre Kundendaten auch über mehrere Standorte synchronisieren.
    form.center-align.no-print
      a.btn-flat.btn-large.btn-cta(href="https://account.wuda.io/register.php" style="margin-bottom: .25em; min-width: 230px;" target="_blank" title="Hier klicken um mehr zu erfahren") Jetzt ausprobieren
