div.intro-bg.print-page
  div.container
    div.row.banner
      div.col.s12.m12.l6
        a(href=".")
          img.logo-img(src="./img/cartrade_logo.png" alt="CarTrade")
        h1 Autohandel leicht gemacht
        h2.claim Profitieren Sie vom besten Werkzeug, dass speziell für den Import und Handel von Autos gemacht wurde und verwalten Sie Ihre Fahrzeuge schnell und einfach mit Wuda CarTrade.

        a.btn-flat.btn-large.btn-cta.no-print(href="https://account.wuda.io/register.php" target="_blank" title="Hier klicken um mehr zu erfahren") Jetzt kostenlos testen
        ul.intro-pros
          li Einfache Verwaltung von Fahrzeugen
          li Mehr Umsatz mit optimalen Fahrzeug-Import
          li Komfort, Benutzerfreundlichkeit und Sicherheit

      div.col.s12.m12.l6
        div.skewed-out(data-aos="fade-left" data-aos-offset="100")
          img.responsive-img.skewed.z-depth-5.product-preview(src="./img/app/dashboard.png" alt="CarTrade Software für den Auto Import")