div.app-function.section.print-page.grey.lighten-4
  div.container
    div.row
      div.col.s12
        h3.section Einfache Verwaltung von Fahrzeugen, Kunden und Dokumenten
      div.col.s12.m12.l6
        div(style="margin:1.5em;")
          img.responsive-img.materialboxed.z-depth-1(src="https://cartrade.wuda.io/img/app/personen.png" alt="Screenshot vom CarTrade Dahboard")
      div.col.s12.m12.l6
        h4 Schnelles Auffinden von Daten mit der integrierten Suchmaschine
        p Durch die eingebaute Suchmaschine, wird bereits während des Tippens das gesamte System nach relevanten Daten durchsucht. Alle Informationen sind strukturiert abgelegt. Dadurch werden die Nerven geschont, der Autohandel leicht gemacht und enorm viel Zeit eingespart
        h4 1-Klick-Erstellung von Angeboten, Kaufverträgen und Rechnungen
        p Nie wieder hin- und her kopieren von Daten, oder Inhalten oder das führen von mehrfachen Datenbeständen. Bei Bedarf legt man einen potentiellen Kunden direkt im Angebot an, und erstellt dann das Dokument mit nur 1 Klick
        h4 Ausgeklügelte Daten-Verlinkung für wichtige Zusammenhänge
        p Du suchst einen bestimmten Kaufvertrag oder willt wissen was bei einem Auto vor 10 Monaten gemacht wurde, weist aber nur wer gerade anruft? Durch die vernetzte Datenstruktur findest du schnell alle relevanten Vertrags- und Fahrzeug-Daten zur Person und ein mühsames Suchen entfällt
    form.center-align.no-print
      a.btn-flat.btn-large.btn-cta(href="https://account.wuda.io/register.php" style="margin-bottom: .25em; min-width: 230px;" target="_blank" title="Hier klicken um mehr zu erfahren") Jetzt ausprobieren
