h1 {font-size: 2.5em; margin-top: .5em; line-height: 1.25; margin-bottom: .25em;}
h2 {font-size: 1.4em; font-weight: bold;}
h3 {font-size: 1.3em; font-weight: bold;}
h4 {font-size: 1.2em; font-weight: bold;}

.app-function h3 {font-size: 1.3em; line-height: 1.25;}
.app-function h4 {font-size: 1.25em; font-weight: bold; line-height: 1.25;}

.footer a {color: #eee;}
.footer a:hover {color: #62d5ff;}
.footer-title {font-weight: 600; font-size: 1.15em;}

.claim {font-size: 1.25em; line-height: 1.5;}
.intro-pros {margin-top: 2em !important;}
.logo-img {max-width: 120px;}
.banner {padding: 5em 0; padding-bottom: 10em; color: white; height: 800px;}
.product-preview {margin-top: 5em;}
.btn-cta { background-color: #1e7da1; color: white; }
.btn-cta:hover {background-color: hsl(196, 69%, 47%);}
.skewed-out {perspective-origin: left center; perspective: 1500px; min-height: 300px; transform-style: preserve-3d;}
.skewed { transform: rotateY(-35deg) rotateX(15deg); }

/* TODO: not always */
/*
ul {list-style-image: url("https://www.wuda.io/img/other/checkmark.png"); list-style-position: inside; }
ul li {margin-bottom: .25em;}
*/
ul.browser-default {list-style-type: square; list-style-position: inside;}
ul li.browser-default {margin-bottom: .25em;}
.tbl-calc td {padding: 7.5px 2.5px; }
.tbl-calc td:nth-child(2) {text-align: right; }

/* Big Screens */
@media only screen and (max-width : 992px) {
}
/* Small Screens */
@media only screen and (max-width : 600px) {
  h1 {margin: 0; margin-top: .5em; font-size: 2em;}
  .banner {padding: 0;}
  .product-preview {margin-top: 1em;}
}
/* Print */
@media print {
  body {font-size: 10pt;}
  h1 {font-size: 35pt;}
  .app-function h3 {font-size: 15pt; line-height: 1.25;}
  .no-print, .no-print * { display: none !important; }
  .intro-bg, .banner {background: #fff; color: black; overflow-x:initial; }
  .skewed {transform: none;}
  .product-preview {margin: 0;}
  .responsive-img {max-height: 220pt;}
  .claim {margin-bottom: 2em;}
  .skewed-out { display: block; perspective-origin: none; perspective:none; transform-style: unset; margin: 0; }
  .print-page {page-break-after: always;}
}