include mixins/header.pug
+header(
  'Das Einkaufsportal für Autohändler. Wuda CarTrade',
  'Mit dem integrierten Marktplatz von Wuda CarTrade finden Sie die besten Fahrzeug-Angebote aus ganz Europa.',
  './img/bgdark.jpg',
  true
)

div.article-image
  img(src="https://cartrade.wuda.io/img/bgdark.jpg" alt="Dunkles Bild eines modernen BMWs der ausgestellt wird")

div.app-function.print-page
  div.container
    div.row
      div.col.s12.m10.offset-m1.l8.offset-l2
        h1.section Das Einkaufsportal für Autohändler
      div.col.s12.m10.offset-m1.l8.offset-l2
        p.flow-text.
          Wuda CarTrade hat jetzt das Einkaufsportal für Autohändler als Feature dabei. Damit sehen Sie als Händler verschiedene Angebote
          die für Sie in Frage kommen - und das Europa weit. Damit lohnt sich die Suche für Sie umso mehr, da sie nicht auf länderspezifischen
          Plattformen umständlich suchen müssen oder gar die Angebote übersetzen müssen. Filtern Sie einfach die besten Angebote raus.

        h2 Insider-Tipp: Warum Sie Wuda CarTrade nutzen sollten
        p.
          Mit Wuda CarTrade, der besten Autohaus Software, steigern Sie ihren Erfolg mit ausgefeilter Experten-Technologie, die
          innerhalb von Minuten einsatzbereit ist und sich ihren individuellen Wünschen anpassen lässt.
          Profitieren Sie noch heute von CarTrade und sichern Sie sich die Vorteile der smarten Lösung für Autohäuser,
          Gebrauchtwagenhändler und Importeure.

include includes/share-social.pug

div.app-function.section.print-page
  div.container
    div.row
      div.col.s12.m10.offset-m1.l8.offset-l2
        h3 Richtig Einkaufen für Autohändler mit System
        p.
          B2B-Zugangsoptionen für Händler haben einen Vertrauensimpuls zum Kauf von Einkaufswagen.
          Der Markt hat sich in diesem Segment jedoch diversifiziert, so dass sich für viele Einzelhändler die Frage gestellt haben,
          ob sie ihr Geschäftsmodell am besten im neuen Portal umsetzen können und ob ein Plattformwechsel ratsam ist,
          um die Einkäufe zu steigern.
        br
        p.
          Mit den Hinweisen und Tipps von Wuda CarTrade wollen wir Auto-Händlern helfen,
          den Ankauf von Gebrauchtwagen optimal abzuwickeln und so eine bessere Rendite zu erzielen.

//- <!-- CTA -->
//- <div class="section grey lighten-3 call-to-action">
//- 	<form class="center-align no-print">
//- 		<h4>Sie wollen Kompetenz und Sicherheit?<br>Jetzt überzeugen und probefahren.</h4>
//- 		<a href="cta.php" class="btn-flat btn-cta" target="_blank" title="Hier klicken um mehr zu erfahren">CarTrade Kostenlos testen</a>

include includes/footer.pug