include mixins/header.pug
+header(
  'Die beste Autohaus Software? Wuda CarTrade',
  'Hier erfahren Sie warum Wuda CarTrade die beste Autohaus Software ist und welche Vorteile Sie davon haben.',
  './img/bgdark.jpg'
)

div.article-image
  img(src="https://cartrade.wuda.io/img/bgdark.jpg" alt="Dunkles Bild eines modernen BMWs der ausgestellt wird")

div.app-function.print-page
  div.container
    div.row
      div.col.s12.m10.offset-m1.l8.offset-l2
        h1.section Die beste Autohaus Software für ihr Geschäft
      div.col.s12.m10.offset-m1.l8.offset-l2
        p.flow-text.
          Laut einer Analyse der Deutschen Automobil Treuhand (DAT) von 2019 erkundigen sich 80% aller Neuwagenkäufer online vor dem Kauf ihres Autos und 10% schließen
          den Autokauf sogar online ab, und der Trend ist auf dem Vormarsch! Dies gibt der Automobilindustrie die Möglichkeit,
          Softwarelösungen zu verwenden, um potenzielle Kunden frühzeitig in ihrem Entscheidungsprozess zu erfassen und Vor-Ort-Services nahtlos zu integrieren. 	
        h2 Insider-Tipp: Warum Sie Wuda CarTrade nutzen sollten
        p.
          Durch die zunehmende Bedeutung von Online-Verkaufsplattformen überlegen viele Autohändler,
          wie sie ihre Fahrzeuge in kürzester Zeit auf verschiedenste Autobörsen mit schönen Bildern inserieren können um konkurrenzfähig zu bleiben.
          Da schönes Bildmaterial zu erstellen und häufiges inserieren jedoch großen Zeitaufwand im hektischen Tagesgeschäft bedeuten,
          relativiert sich der tatsächliche Erfolg aus dem Online-Vertrieb bei vielen Autohäusern wieder.
        p.
          Wie sieht also die Lösung aus, die schnell und zuverlässig die operativen Herausforderungen des Autohandels vereinfacht?
          Mit Wuda CarTrade, der besten Autohaus Software, steigern Sie ihren Erfolg mit ausgefeilter Experten-Technologie, die
          innerhalb von Minuten einsatzbereit ist und sich ihren individuellen Wünschen anpassen lässt.
          Profitieren Sie noch heute von CarTrade und sichern Sie sich die Vorteile der smarten Lösung für Autohäuser, Gebrauchtwagenhändler und Importeure.

include includes/ad1.html

//- 	<!-- CTA -->
//- 	<div class="section grey lighten-3 call-to-action">
//- 		<form class="center-align no-print">
//- 			<h4>Worauf warten Sie noch?<br>Testen Sie Wuda CarTrade kostenlos.</h4>
//- 			<a href="cta.php" class="btn-flat btn-cta" target="_blank" title="Hier klicken um mehr zu erfahren">Jetzt Durchstarten</a>
//- 		</form>
//- 	</div>


div.app-function.section.print-page
  div.container
    div.row
      div.col.s12.m10.offset-m1.l8.offset-l2
        h2 Zeitersparnis durch intelligentes Prozessmanagement
        p.
          Alle Autohändler wissen, dass Geschwindigkeit im Gebrauchtwagengeschäft oberste Priorität hat.
          Software für Autohändler wie Wuda CarTrade unterstützt Sie bei der Optimierung Ihrer Bestandsführung auf effiziente und individuelle Weise.
          So überwachen Sie den Zustand Ihrer Gebrauchtfahrzeuge einfach und transparent:
        ul.browser-default
          li Definieren Sie relevante Prozessschritte selbst in der Software.
          li Definieren Sie verantwortliche Personen auf jeder Ebene des Prozesses.
          li Behalten Sie den Überblick und wissen Sie stets in welcher Prozessstufe sich das Fahrzeug befindet.
          li Legen Sie einen Zeitplan für den jeweiligen Prozessschritt fest.
          li Erkennen Sie Herausforderungen in täglichen Aktivitäten und nutzen Sie Potentiale gezielt.
        p
          b Unterstützt durch viele Funktionen:&nbsp;
          span Finden Sie hier heraus, wie Sie durch Effizienzsteigerung des digitalen Verkaufsprozesses dank Wuda CarTrade profitieren.

include includes/share-social.pug

div.app-function.section.print-page
  div.container
    div.row
      div.col.s12.m10.offset-m1.l8.offset-l2
        h3 Erzielen Sie mehr Umsatz mit smarten Schnittstellen
        p.
          Der Autohandel verändert sich. Traditionelle Vertriebskanäle werden unbedeutender und Kunden fordern, sich zunehmend Online-Angeboten zuwenden.
          Das bedeutet jedoch nicht, dass der Einzelhandel veraltet ist! Im Gegenteil, mit Wuda CarTrade haben Sie die Möglichkeit, das Beste aus beiden Welten
          in einer großartigen Autohaus Software zu kombinieren.
        div.interface-list
          p Unterstütze Schnittstellen:
          img(src="https://cache.willhaben.at/img/headernew/willhaben_logo.svg" alt="Willhaben Logo")
        p.
          Da die wichtigsten Infrastrukturen bereits vorhanden sind, werden diese genutzt um Kunden, Dienstleister und Lieferanten miteinander zu verbinden.
          Dank unserer einmaligen Plattform erscheint Ihr Fahrzeug mit nur einem Klick auf verschiedenen Autobörsen.
          Selbstverständlich können Sie auch noch weitere Anbieter in der besten Software für Autohändler zusammenführen.

//- 	<!-- CTA -->
//- 	<div class="section grey lighten-3 call-to-action">
//- 		<form class="center-align no-print">
//- 			<h4>Sie wollen Kompetenz und Sicherheit?<br>Jetzt überzeugen und probefahren.</h4>
//- 			<a href="cta.php" class="btn-flat btn-cta" target="_blank" title="Hier klicken um mehr zu erfahren">CarTrade Kostenlos testen</a>
//- 		</form>
//- 	</div>

include includes/ad1.html

include includes/footer.pug