include mixins/header.pug
+header(
  'Fahrzeug nach Österreich importieren',
  'Wie der Fahrzeugimport aus der EU nach Österreich funktioniert wird in diesem Artikel ausführlich erklärt.',
  './img/deal.jpg'
)