include mixins/header.pug
+header(
  'Professionelle Autohandel-Software - Wuda CarTrade',
  'Starten Sie mit der besten Software für den Fahrzeughandel. Übersichtliche Fahrzeug- und Kundenverwaltung mit NoVA-Berechnung. Jetzt kostenlos testen!',
  './img/opengraph-CarTrade.png'
)

main
  include includes/hero.pug
  include includes/manage-data.pug
  include includes/better-car-import.pug
  include includes/comfort-and-safety.pug
  div.container
    include:markdown-it ../README.md

include includes/footer.pug
